node_modules
.next
out
dist
build
*.local
.env.local
.env
.env.production
.env.production.local
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
storage/promotion-uploads/*
!storage/promotion-uploads/b-493aeff07e84407aa34f848cc6a6bd78.pdf
!storage/promotion-uploads/clinton-awuah-s-cv-cb8631858da947059d6cc6fa15dc13a1.pdf
!storage/promotion-uploads/uml-diagrams-for-canteen-management-system-bf4e1a9a8d3740d29631ed54d1e68245.pdf
